default: &default
  sms_code_expires_in_minutes: 15
  smsc_login: 'login'
  smsc_password: 'password'

development:
  <<: *default
  app_host: 'localhost:3000'

test:
  <<: *default
  app_host: 'localhost:3000'

production:
  <<: *default
  app_host: 'gurustroy.ru'
  secret_key_base: 'your-key'
